/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e3085;
  --ifm-color-primary-dark: #292b78;
  --ifm-color-primary-darker: #272971;
  --ifm-color-primary-darkest: #20225d;
  --ifm-color-primary-light: #333592;
  --ifm-color-primary-lighter: #353799;
  --ifm-color-primary-lightest: #3c3ead;
}
/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c7ccd6;
  --ifm-color-primary-dark: #afb6c5;
  --ifm-color-primary-darker: #a3abbc;
  --ifm-color-primary-darkest: #7f8ba2;
  --ifm-color-primary-light: #dfe2e7;
  --ifm-color-primary-lighter: #ebedf0;
  --ifm-color-primary-lightest: #ffffff;
}

./* Edit the `src/css/custom.css` file and add the following styles */

/*
 * Reset the line-number counter for each .prism-code scope
 */
.prism-code {
  counter-reset: line-number;
}

/*
 * Notice the chained .language-ts class name to .prism-code
 * You can chain more languages in order to add line numbers
 */
.prism-code {
  counter-reset: line-number;
}

.prism-code .token-line::marker {
  color: var(--ifm-color-gray-700);
  content: counter(line-number);
}

.prism-code .token-line {
  counter-increment: line-number;
  display: list-item;
  padding-left: var(--ifm-pre-padding);
  margin-left: var(--ifm-global-spacing);
}
